<footer>
    <p>Поиск погоды по данным с сервиса <a href="{{source.weather}}">{{source.weather}}</a><br>
    Координаты для погоды определяются по месту положения при помощи сервиса <a href="{{source.location}}">{{source.location}}"</a></p>
    <p>Created by <a href={{owner.mail}}>{{owner.name}}</a></p>
    
    {{>titleMenu}}

</footer>